<mat-nav-list>
    <div class="logo py-4">
    <img src="" alt="Company Logo" >
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2" style="color: #ffffff;" >Auto PAS</h2>
    <a class="side-menu-item" mat-list-item routerLink="/" routerLinkActive="list-item-active"><mat-icon>description</mat-icon> DashBoard</a>
    <a class="side-menu-item" mat-list-item routerLink="/rating" routerLinkActive="list-item-active"><mat-icon>list</mat-icon> Rate Tables</a>
    <a class="side-menu-item" mat-list-item routerLink="/master" routerLinkActive="list-item-active"><mat-icon>table view</mat-icon> Master Table</a>

</mat-nav-list>